<div class="clients">
  <div class="clientsmain" style="display: flex;">
                    <div class="col1" style="float: left;" >
                      <div class="col1row1" style="padding:119px">
                        <img src="./assets/Cleartrip.png" style="height: 48px;"/>

                      </div>
                      <div class="col1row2" >
                        <img src="./assets/ola-logo.png" style="height: 48px;"/>

                      </div>

                    </div>

                    <div class="col2">
                      <div class="col2row1">
                        <img src="./assets/myntra-logo.png" style="height: 48px;"/>
                      </div>
                      <div class="col2row2">
                        <img src="./assets/carousell-logo.png" style="height: 48px;">
                      </div>
                    </div>
                    <div class="col3">
                      <span class="clients-ctn">CLIENTS</span>
                    </div>


  </div>

</div>
