<div style=" margin-left: 120px; margin-top: 100px;">
  <div
    class="codingmartlogo"
    style="display: grid;grid-template-columns: 40% 60%;"
  >
    <div class="codingmartlogofirst">
      <img src="./assets/services.png" height="400px" />
    </div>
    <div
      class="codingmartlogosecond"
      style="margin-top: 25%; text-align: center;"
    >
      <p style="font-weight: medium; margin-right: 40px; font-size: 25px;">
        Building software with technology is service.<br />Creating impact with
        technology is craftsmanship.<br />
      </p>
      <p style="font-weight: bolder; font-size: 40px;">WE DO THE LATTER.</p>
    </div>
  </div>

  <hr style="margin-top: 150px;" />
  <p style="font-weight: bold;font-size: 22px;color: #4B4B4B;margin-left: 50%;">
    TESTIMONIALS
  </p>

  <iframe
    src="https://youtube.com/embed/WxoJVLAJMVc"
    style="height: 350px;width: 520px"
  >
  </iframe>
</div>
