<div class="topnavmain" style="color: red;">
  <div class="topnavfirst">
    <!-- <p>topnav works!</p> -->
  </div>
  <div class="topnavsecond">
    <div>
      <nav>
        <a routerLink="topnav" routerLinkActive="active" style="text-decoration: none;"> services</a>
      </nav>
    </div>
    <div>
      <nav>
        <a routerLink="topnav" style="text-decoration: none;"> clients</a>
      </nav>
    </div>
    <div>
      <nav>
        <a routerLink="topnav" style="text-decoration: none;"> culture</a>
      </nav>
    </div>
    <div>
      <nav>
        <a routerLink="topnav" style="text-decoration: none;"> process</a>
      </nav>
    </div>
    <div>
      <nav>
        <a routerLink="topnav" style="text-decoration: none;"> labs</a>
      </nav>
    </div>
    <div>
      <nav>
        <a routerLink="topnav" style="text-decoration: none;"> contactus</a>
      </nav>
    </div>
  </div>
</div>
