<div class="services" style="margin: 150px;">
  <div class="servicesmain" >
    <div class="scol1" style="display: grid;grid-template-columns: 33.33% 33.33% 33.33%">
      <div class="scol1row1">
        <div class="mobileapps">
        <img src="./assets/mobileapps.png" class="mobileappslogo"/>
        <p class="mobileapps-content">MOBILEAPPS</p>
      </div>
      </div>
      <div class="scol1row1">
        <div class="mobileapps">
        <img src="./assets/rails.png" style="opacity: 0.3;"class="mobileappslogo"/>
        <p class="mobileapps-content" >RUBYONRAILS</p>
      </div>
      </div>


      <div class="scol1row1">
        <div class="mobileapps">
        <img src="./assets/jango.png" class="mobileappslogo"/>
        <p class="mobileapps-content">DJANGO</p>
      </div>
      </div>


      <div class="scol1row1">
        <div class="mobileapps">
        <img src="./assets/node.png" class="mobileappslogo"/>
        <p class="mobileapps-content">NODEJS</p>
      </div>
      </div>


      <div class="scol1row1">
        <div class="mobileapps">
        <img src="./assets/angular.png" class="mobileappslogo"/>
        <p class="mobileapps-content">ANGULARJS</p>
      </div>
      </div>

      <div class="scol1row1">
        <div class="mobileapps">
        <img src="./assets/react.png" class="mobileappslogo"/>
        <p class="mobileapps-content">REACTJS</p>
      </div>
      </div>



    </div>
  </div>
</div>
