<div class="productclass">
  <div class="firstproductclass">
    <div class="firstproductclassfirst" style="display: flex;">
      <div>
        <img src="./assets/ideate.png" style="margin-left: 70px;" />
      </div>
      <div style="margin-left: 40px;">
        <p style="font-weight: bold;">IDEATE</p>
        <p style="font-weight: lighter; font-size: 14px;">
          Got the next big idea? We help refine it <br />and break it into
          executable product <br />roadmaps. We are product managers
          <br />ourselves.
        </p>
      </div>
    </div>
    <div class="firstproductclasssecond" style="display: flex;">
      <div>
        <img src="./assets/validate.png" />
      </div>
      <div style="margin-left: 40px;">
        <p style="font-weight: bold;">VALIDATE</p>
        <p style="font-weight: lighter;">
          We build MVPs faster and help you <br />validate quicker. Build, Ship,
          Iterate,<br />
          Repeat – we are with you till you get<br />
          the product market fit.
        </p>
      </div>
    </div>

    <!-- <hr/> -->
  </div>
  <hr style="width: 100%;border-top: 2px dashed #D9D9D9; margin-top: 30px;" />
  <app-timeline></app-timeline>



  <div class="timeline"></div>

  <div class="secondproductclass " >
    <div class="secondclassfirst" style="display: flex; margin-left: 300px; ">
      <div>
        <img src="./assets/build.png" style="padding-top: 20px;" />
      </div>
      <div>
        <p style="font-weight: lighter;font-size: 14; margin-left: 30px;">
          We play with the right technology<br />
          tools and craft your product with <br />perfection, without any
          compromise ,<br />on quality, timelines & commitment.
        </p>
        <p style="font-weight: bold;margin-left: 30px;">BUILD</p>
      </div>
    </div>

    <div class="secondclassescond" style="display: flex;margin-left: 200px;">
      <div>
        <img src="./assets/scale.png" style="padding-top: 20px;" />
      </div>
      <div>
        <p style="font-weight: lighter;margin-left: 30px;">
          from minimum viable to maximum <br/> lovable full blown product and scale it<br/> to handle millions of users. We are <br/> pretty decent at it
        </p>
        <p style="font-weight: bold;">SCALE</p>
      </div>
    </div>
  </div>
  <hr>
  <p style="font-weight: bolder;text-align: center;font-size: larger;">Read the complete journey </p>
</div>
