<div class="corousel">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div style="display: grid;grid-template-columns: 50% 50%;">
        <div>
          <iframe src="https://youtu.be/WxoJVLAJMVc">
          </iframe>
        </div>
        <div>
          <p>haiii</p>
        </div>

      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div style="display: grid;grid-template-columns: 50% 50%;">
        <div>
          <iframe src="https://youtu.be/WxoJVLAJMVc">
          </iframe>
        </div>
        <div>
          <p>hello</p>
        </div>

      </div>
    </ng-template>

  </ngb-carousel>
</div>
